<div class="col s12 m12">
    <ul class="tabs">
      <li class="tab col s2 m2"><a routerLink="../blog" class="active">javaScript</a></li>
      <li class="tab col s2 m2"><a routerLink="../blog">css</a></li>
      <li class="tab col s2 m2"><a routerLink="../blog">工具</a></li>
      <li class="tab col s2 m2"><a routerLink="../blog">后端</a></li>
      <li class="tab col s2 m2"><a routerLink="../blog">APP</a></li>
      <li class="tab col s2 m2"><a routerLink="../blog">行业</a></li>
    </ul>
  </div>
<div class="container">
    <h5>{{blog.title}}</h5><hr>
    <p><a href="{{blog.link}}" target="_blank">原网页链接地址：{{blog.link}}</a></p>
    <div id="content"></div>
</div>
