<div class="panel col s12 m12 container">
  <h5>Hi</h5>
  <p>
    I figure, if you clicked the About link, you probably want to know a little more than my passion for tech. So here it goes.
    Professionally, I'm a Software Engineer, currently working in an awesome startup, XX, based out of ChengDu, China. I enjoy taking problems and turning them into simple and beautiful interface designs. I  programming and always strive for the newest technologies. Lately, I have developed a new hobby of learning human mind which in turn helps me in knowing more about #MachineLearning.
  </p>
  <br>
  <h5>About this Site</h5><hr>
  <p>This is Angular generated static HTML site and each web page has been authored in Markdown to avoid hand-authoring HTML.</p>
  <p>I have used the awesome Materialize Framework for the front-end designing.</p>
  <p>In case you love to see the engine behind this site, have a look at my Github repo. Contact me by dropping words at 529134823@qq.com, if you have any query.</p>
  <h5>Cheers! </h5>
</div>
