<div class="row">
  <div class="col s12 m3">
    <a routerLink="../blog">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/contact.jpg">
        </div>
        <div class="card-content">
          <p>JavaScript,css3,工具,nodeJS,混合APP</p>
        </div>
        <div class="card-action">
          <a href="#">技术博客</a>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="../project">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/project.jpg">
        </div>
        <div class="card-content">
          <p>个人项目</p>
        </div>
        <div class="card-action">
          <a href="#">项目</a>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="../paradise">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/paradise1.jpg">
        </div>
        <div class="card-content">
          <p>电影，音乐，分享，随笔，画廊。</p>
        </div>
        <div class="card-action">
          <a href="#">乐园</a>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="../sites">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/project.jpg">
        </div>
        <div class="card-content">
          <p>国内外优秀网站推荐</p>
        </div>
        <div class="card-action">
          <a href="#">酷站</a>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="../about">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/contact1.jpg">
        </div>
        <div class="card-content">
          <p>关于我&联系我！</p>
        </div>
        <div class="card-action">
          <a href="#">关于&联系</a>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m3">
    <a routerLink="../paradise">
      <div class="card">
        <div class="card-image">
          <img src="../assets/images/movie.jpg">
        </div>
        <div class="card-content">
          <p>I love movie,It makes me grow up</p>
        </div>
        <div class="card-action">
          <a href="#">电影</a>
        </div>
      </div>
    </a>
  </div>
</div>
